language: python
python:
  - "2.7"
before_install:
  - sudo apt-get install python-lxml
install:
  - pip install flake8
  - python setup.py install
script:
  - python setup.py test
  - flake8 .
notifications:
  email:
    - ci-notify@openlabs.co.in
