psycopg2

# Install latest packages from github.
https://github.com/openlabs/nereid/archive/develop.tar.gz
https://github.com/openlabs/nereid-catalog/archive/develop.tar.gz

# Install this package itself
.
